/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Bold.woff2') format('woff2'),
    url('ProximaNova-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
    url('ProximaNova-Regular.woff2') format('woff2'),
    url('ProximaNova-Regular.woff') format('woff'),
    url('ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Semibold.woff2') format('woff2'),
    url('ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background: url(img/Bg.svg) no-repeat center top / cover;
  min-height: 810px;
  max-width: 100%;
}

.header__container {
  display: flex;
  min-height: 164px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1152px;
  margin: 0 auto;
}

.header__menu {
  justify-content: flex-end;
  padding-top: 15px;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.1px;
}

.menu__link:hover{
  border-bottom: 3px solid #FF8B00;
  padding-bottom: 5px;
  
}

.menu__item:not(:last-child) {
  margin: 0px 26px 0px 0px;
}

.menu__item:nth-child(1) {
  width: 45px;
  margin-right: 32px;
}

.menu__item:nth-child(2) {
  margin-right: 28px;
  width: 81px;
}

.menu__item:nth-child(3) {
  margin-right: 28px;
  width: 70px;
}

.menu__item:nth-child(4) {
  margin-right: 28px;
  width: 88px;
}

.menu__item:nth-child(5) {
  margin-right: 28px;
  width: 52px;
}

.menu__list {
  display: flex;
  min-width: 574px;
}

.header__logo {
  z-index: 5;
}

.menu__link-active {
  border-bottom: 3px solid #FF8B00;
  padding-left: 4px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.icon-menu {
  display: none;
}

@media (max-width:1440px) {
  [class*="__container"] {
    max-width: 970px;
  }

  .header__logo {
    margin: auto;
  }
}

@media (max-width:991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width:767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

@media (max-width:767.98px) {
  .icon-menu {
    position: relative;
    flex: 0 0 24px;
    height: 18.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 28px 32px 0px 0px;
    cursor: pointer;
  }

  .icon-menu::after,
  .icon-menu::before {
    content: "";
    background-color: #fff;
    height: 2px;

  }

  .icon-menu span {
    height: 2.5px;
    background: #fff;
  }

  .menu__body {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7050E5;
    padding: 160px 15px 30px 15px;
  }

  .menu__body:target {
    left: 0;

  }

  .menu__link {
    color: #fff;
    font-size: 20px;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .menu__link-activ {
    border: none;

  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }


  .header__container {
    min-height: 0;
  }

  .header__logo {
    height: 50px;
    width: 39px;
    margin: 28px 0px 0px 28px;
    overflow: scroll;

  }
}

/* -------------------------------------- */
.header_mid {
  display: flex;
  width: 100%;
  padding-top: 84px;
  flex: 1;
  justify-content: space-between;

}

.header__midle{
max-width: 914px;
width: 100%;
display: flex;
justify-content: space-between;
margin: 0 auto;
}
.auth {
  color: #fff;
  padding: 0;
}

.auth h1 {
  font-weight: bold;
  font-size: 55px;
  line-height: 81px;
}

.auth p {
  font-weight: 600;
  font-size: 16px;
  line-height: 29.7px;
}

.twitter_img {
  max-width: 100%;
  height: auto;
  margin-top: 84px;
  margin-right: -8px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  padding-right: 54px;
  margin-top: 87.4px;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  display: inline;
}

.header__button{
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 174px;
  text-align: center;
  line-height: 51px;
  color: #fff;
  background: #FF8B00;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

.button_start {
max-width:988px;
width: 100%;
margin: auto;
padding-top: 7px;
}

.button_start ul {
  margin-top: 6px;
}

.button_find {
  color: #fff;
  margin-left: 48%;
  padding-top: 135px;
}

.button_find h2 {
  font-size: 15px;
  margin-left: -3%;
  margin-bottom: 16px;
}

.button_find img {
  cursor: pointer;
}

/* -------------------------------------- */

.achievements {
display: flex;
justify-content: space-between;
padding-top: 134px;
max-width: 912px;
width: 100%;
margin: 0 auto;
color: #7050E5;
padding-bottom: 131px;
flex-wrap: wrap;
}

.achievements h1{
  font-size: 60px;
  line-height: 68px;
  text-align: center;
}

.achievements div:nth-child(1){
max-width:257px ;
width: 100%;
}

.achievements div:nth-child(2){
max-width: 213px;
width: 100%;
margin-right: -3px;
}

.achievements div:nth-child(3){
  margin-right: 11px;
  max-width: 249px;
  width: 100%;
}

.achievements p{
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.02em;
  padding-top: 13px;
}
/* -------------------------------------- */
.main__description{
  width: 100%;
  background: #F8F8F8;
  padding-bottom: 120px;
}

.description__content{
max-width: 1006px;
margin: 0 auto;
}

.description__top_block{
  display: flex;
  padding-top: 118px;
  justify-content: end;
}

.description__header h1{
font-size: 60px;
color: #7050E5;
font-weight: bold;
line-height: 72px;
padding-top: 25px;
padding-right: 19px;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 993px;
  margin: 0 auto;
}

.card1 {
  max-width: 271px;
  margin-top:71px ;
  justify-content: center;
}

.card1 .card-image{
 margin-left: 40px;
}

.card2 {
  max-width: 241px;
  margin-top:71px ;
}

.card3 {
  max-width: 281px;
  margin-top:68px ;
}

.card3 .card-image{
  margin-left: 58px;
}

.card3 .card__header{
  margin-top: 27px;
}

.card4 {
  max-width: 271px;
  margin-top: 72px;

}

.card4 .card-image{
margin-left: 59px;
}

.card4 .card__header{
margin-top: 25px;
margin-left: 3px;
line-height: 20px;
}

.card4 .card__discription{
margin-top: 6px;
margin-left: 3px;
}

.card5 {
  max-width: 241px; 
  margin-top: 80px;
}

.card5 .card-image{
margin-left: 38px;
}

.card5 .card__header{
  margin-left: 1px;
}

.card5 .card__discription{
margin-left: 1px;
}

.card6 {
  max-width: 266px;
  margin-top:99px ;
}

.card6 .card-image{
  margin-left: 30px;
  margin-top: 1px;
}

.card5 .card__header{
  margin-left:1px ;
}

.card-dicoration{
  margin-right: 100px;
}

.card-dicoration:nth-child(3n){
  margin-right: 0;
}

.card-image{
  margin:0 auto;
}

.card__header {
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: #7050E5;
  text-transform: uppercase;
  margin-top: 28px;
  line-height: 20px;
}

.card__discription {
  font-size: 15px;
  letter-spacing: -0.008em;
  font-weight: 400;
  line-height: 19px;
  color:#878787;
  margin-top: 8px;
}
/* -------------------------------------- */
.main__aboutProducte {
  display: flex;
  padding-top: 114px;
  padding-bottom: 97px;
  max-width: 1326px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.aboutProducte__discription{
  padding-top: 95px;
  margin-left: 23px;
  max-width: 455px;
  width: 100%;
}

.aboutProducte__discription h2{
font-size: 40px;
line-height: 55px;
color: #7050E5;
padding-bottom: 7px;
}

.aboutProducte__discription p{
letter-spacing: -0.02em;
line-height: 21px;
font-size: 15px;
color: #878787;
margin-bottom: 29px;
}

.button__info{
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 171px;
  text-align: center;
  line-height: 44px;
  color: #fff;
  background: #FF8B00;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

.aboutProducte__video{
  position: relative;
}

.img_play{
  max-width: 77px;
  position: absolute;
  top: 38.8%;
  left: 44.8%;
}

.video_block{
  font-family: 'Raleway', sans-serif;
}

.video_block p{
  display: block;
  position: absolute;
 text-transform: uppercase;
  color: #fff;
}

.video_feature {
  font-size: 15px;
  top: 62%;
  left: 42.1%;
  font-weight: 600;
  line-height: 20px;
}

.video_connected {
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
  top: 68.7%;
  left: 20.7%;
}
/* -------------------------------------- */
.main_inputForm {
  width: 100%;
  background: #232323;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.input_decoration:after{
content: "";
position: absolute;
width: 747px;
height: 757px;
background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
opacity: 0.33;
filter: blur(125px);
border-radius: 373.431px;
transform: rotate(-122.79deg) translate(620px,74px);
z-index: -2;
}

.input_decoration::before{
content: "";
position: absolute;
width: 472px;
height: 478px;
background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
opacity: 0.3;
filter: blur(125px);
border-radius: 236.048px;
transform: rotate(5.78deg) translate(800px,120px);
z-index: -2;
}

.input__conteiner{
  max-width: 1326px; 
  width: 100%;
  display: flex;  
  justify-content: space-between; 
  margin: 0 auto;
  padding-top: 119px;
  padding-bottom: 120px;
}

.inputDiscription h2{
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  padding-top: 9px;
  margin-left: 63px;
  z-index: 1;
 
}

.inputForm {
max-width: 675px;
width: 100%;
}

.inputForm h3{
  font-size: 28px;
  letter-spacing: -0.02666em;
  font-weight: 700;
  margin-left: 3px;
  margin-bottom: 29px;
}

.input_firstName {
  width: 307px;
  margin-right: 20px;
}

.input_firstName input{
  width: 308px;
  height: 39px;
}

.input_lastName{
  width: 307px;
  
}

.input_lastName input{
   width: 314px;
  height: 41px;
}

.input_lastName p{
  padding-bottom: 5px;
  padding-left: 5px;
}

.input2::placeholder{
  position: absolute;
  left:13px;
  top: 12px;
}

.input_email {
  width: 640px;
  padding-top: 29px;
}

.input_email input{
width: 640px;
height: 41px;
}

.input_textarea {
  padding-top: 29px;
  padding-bottom: 32px;
}

.input_textarea input{
width: 640px;
height: 97px;
}

.button_inputForm{
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 201px;
  text-align: center;
  line-height: 51px;
  color: #fff;
  background: #FF8B00;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

form{
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-left: 3px;
  font-weight: 600;
}

form p{
padding-bottom: 5.8px;
padding-left: 4px;
}

input{
  font-family: 'Raleway', sans-serif;
  border: 1px solid #292929;
  border-radius: 8px;
  padding: 0 13px;
}

input::-webkit-input-placeholder{
  opacity: 1; 
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder{
  opacity: 0; 
  transition: opacity 0.3s ease;
}

input::placeholder{
font-family: 'Raleway', sans-serif;
position: absolute;
font-style: normal;
top: 11px;
right: 11px;
left: 11px;
font-size: 14px;
font-weight: 400;
color: #3D3D3D;
opacity: 0.5;
line-height: 7px;
align-items: center;
letter-spacing: -0.01rem;
}
/* -------------------------------------- */
.empty_block{
  padding-top: 97px;
}
/* -------------------------------------- */
.footer { 
  background: #363636;
  color: #ffffff;
}
.footer__top {
 display: flex;
 justify-content: center;
 width: 100%;
}
.content__footer{
   margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  max-width: 1262px;
  width: 100%;
  padding-bottom: 49px;
}

.twitter__block {
  max-width: 299px;
  width: 100%;
  min-height: 295px;
  background: white;
  margin-left: 109px;
  margin-top: 1px;
}
.twitter__block .hat{
  width: 100%;
  background: #7050E5;
  height: 60px;
}

.hat{
  display: flex;
}

.hat__twitter__logo{
  width: 59px;
  height: 60px;
  background: #5634D1;
}

.hat__twitter__logo img{
  margin:18% auto;
}

.hat__twitter__feed{
  flex-direction: column;
  align-self: center;
  padding-left: 16px;
}

.hat__twitter__feed p:nth-child(1){
font-size: 22px;
line-height: 18px;
letter-spacing: 0.008em;
font-weight: 600;
padding-bottom: 1px;
}

.hat__twitter__feed p:last-child{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.008em;
  font-weight: 400;
}
.twitter__block__info div{
    padding-left: 31px;
}
.info1{
   
    padding-top: 21px;
}

.info1 .comment{
    font-size: 13px;
    letter-spacing: -0.02em;
    color: #999999;
    font-weight: 400;
    line-height: 18px;
}

.info1 a{ 
    display: block;
    color: #7050E5;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 1px;
}
  
.info1 .time{
    color: #555555;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.01em;
    padding-top: 3px;
}
.info2{
    padding-top: 16px;
}

.info2 .comment{
    font-size: 13px;
    letter-spacing: -0.02em;
    color: #999999;
    font-weight: 400;
    line-height: 18px;
}

.info2 a{
    display: block;
    color: #7050E5;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    padding-top: 1px;
}
  
.info2 .time{
    color: #555555;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.01em;
    padding-top: 4px;
}

.info3{
    display: flex;
    padding-top: 16px;
    flex-wrap: wrap;
}

.info3 .comment{
    font-size: 13px;
    letter-spacing: -0.02em;
    color: #999999;
    font-weight: 400;
    line-height: 18px;
}

.info3 a{
    padding-left: 5px;
    display: block;
    color: #7050E5;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
}
  
.info3 .time{
    color: #555555;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.01em;
    padding-top: 5px;
}

.page__links {
  display: flex;
  max-width: 734px;
  width: 100%;
  justify-content: space-between;
}

.footer__item__top{
  display:inline ;
  width: 17.5px;
  height: 20px;
  margin-right: 8px;
}

.footer__link{
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.nav{
max-width: 110px;
width: 100%;
}

.nav h3{
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  color: #FF8B00;
}

.nav ul{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 164px;
  justify-content: space-between;
}

.links {
  max-width: 151px;
 width: 100%;
}

.links h3{
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  color: #FF8B00;
}

.links ul{
  display: flex;
  flex-direction: column;
  text-decoration: none; 
  height: 108px;
  justify-content: space-between;
}

.contact{
  max-width: 209px;
  width: 100%;
}

.contact h3{
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
    color: #FF8B00;
}

.phone{
  padding-top: 16px;
}

.phone a{
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  white-space: pre;
}

.email{
padding-top: 2px;
}

.email a{
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  white-space: pre;
}

.footer__logo{
  padding-right: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: flex-end;
}
.footer_bottom {
  background:#202020 ; 
  display: flex;
  justify-content: center;
}

.footer__item__bottom{
  display:inline-block;
  padding-top: 1px;

}

.copyright{
font-family: 'Raleway';
font-size: 10px;
line-height: 20px;
font-weight: 500;
padding-top: 2px;
}